/**
 * 兼容IE10以上，采用CSS3布局
 */

/* 公共库 */
.flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-item {
    -webkit-box-flex: 1.0;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
    min-height: 0;
}

.flex-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flex-row-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex-column-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.transition {
    -webkit-transition: width .3s;
    transition: width .3s;
}

.i-icon-close {
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
}

.i-icon-close:before,
.i-icon-close:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1px;
    width: 1em;
    height: 2px;
    background-color: currentColor;
}

.i-icon-close:before {
    transform: rotate(45deg);
}

.i-icon-close:after {
    transform: rotate(-45deg);
}

.show {
    display: block !important;
}

/* 顶部 */

.lt-header {
    position: fixed;
    z-index: 99;
    width: 100%;
    left: 0;
    top: 0;
    /*    background-color: #FFFFFF;*/
    background: linear-gradient(to right, #2780B3, #bc90cc);
    height: 50px;
}

.lt-header > div {
    float: left;
}

.header_logo {
    /*background-image: url(images/new/logo.png);
    background-repeat: no-repeat;
    background-size: auto 60px;
    background-position: left center;*/
    width: 120px;
    height: 50px;
    text-align: left;
    padding-left: 5px;
    line-height: 50px;

}

.header_logo img {
    width: 100px;
    height: 36px;
    margin-top: 0px;
}

.lt-sidebar__toggle {
    width: 40px;
    height: 50px;
}

.lt-sidebar__toggle-button {
    background: none;
    font-size: 20px;
    color: #fff;
    border: none;
}

.lt-sidebar__toggle-button:focus {
    outline: none;
}

.system-name {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: #989696;
    line-height: 50px;
    padding-left: 180px;
    text-shadow: 1px 2px 2px #000;
}

.system-name span {
    display: inline-block;
    opacity: 0;
    -webkit-animation: disperseIn 1.2s both;
    animation: disperseIn 1.2s both;
}

.system-name span:nth-child(1) {
    animation-delay: 0s;
}

.system-name span:nth-child(2) {
    animation-delay: 0.6s;
}

.system-name span:nth-child(3) {
    animation-delay: 1.2s;
}

.system-name span:nth-child(4) {
    animation-delay: 1.8s;
}

.system-name span:nth-child(5) {
    animation-delay: 2.4s;
}

.system-name span:nth-child(6) {
    animation-delay: 3s;
}

.lt-search {
    /*padding-top: 7px;*/
    align-self: center;
    /***margin-left: -30%; xurun 2019-05-22  **/
    margin-left: 20px;
    /*width: 100%;*/
    line-height: 44px;

}

.lt-search input,
.lt-search button {
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: none;
}

.lt-search input:focus {
    background-color: #fff;
    box-shadow: none;
}

.lt-search button {
    padding: 7px 12px;
    background-color: rgba(242, 242, 242, 0.8);
    color: #666;
}

/* 侧栏 */

body.side-hide .lt-sidebar {
    width: 44px;
}

body.side-hide .page-title-fixed {
    left: 44px;
}

.lt-sidebar {
    position: fixed;
    z-index: 96;
    left: 0;
    top: 50px;
    bottom: 0;
    /*width: 220px;*/
    width: 160px;
    background: linear-gradient(to bottom,#2780B3 ,#bc90cc);
    overflow: hidden;
}

.lt-sidebar.yjy {
    background: linear-gradient(to bottom, #0CB0C7, #3F43BC);
}

.lt-sidebar.crh {
    background: linear-gradient(to bottom, #046ADC, #FCF7D4);
}

.main-menu {
    /*width: 260px;*/

    width: 180px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.main-menu ul {
    margin-bottom: 0;
    list-style: none;
    padding: 0;
}

.main-menu a {
    text-decoration: none;
}

.first-menu {
    padding-left: 0;
    /*width: 220px;*/
    width: 160px;
}

.first-menu > li {
    margin-bottom: 1px;
}

.first-menu > li > a {
    display: block;
}

/**有二级菜单时：张开的背景色*/
.first-menu > li.active {
    background-color: #2c3b41;
}

.first-menu > li > a.is-active {
    background-color: #43558f;
}

.first-menu__item {
    height: 40px;
    color: #f3f3f3;
}

.first-menu__icon {
    width: 44px;
    height: 44px;
    font-size: 18px;
    line-height: 1;
}

.first-menu__text {
    -webkit-box-flex: 1.0;
    -ms-flex: 1;
    flex: 1;
    /*font-size: 15px;*/
    font-size: 13px;
}

.first-menu__arrow {
    width: 44px;
    text-align: center;
}

.first-menu > li > .second-menu {
    padding-left: 34px;
    display: none;
}

.second-menu > li {
    width: 126px
}

.menu-popup > .second-menu > li {
    width: 116px
}

.second-menu > li > a {
    display: block;
    height: 34px;
    line-height: 34px;
    color: #b8c7ce;
    padding-left: 10px;
    font-size: 13px;
    width: 100%
}

.second-menu > li > a.is-active {
    background-color: #fff;
    color: #333;
}

.first-menu > li.active .second-menu {
    display: block;
}

.menu-popup {
    display: none;
    position: fixed;
    z-index: 94;
    left: 44px;
    top: 50px;
    bottom: 0;
    width: 116px;
    background-color: rgba(44, 59, 65, 0.95);

    /*background-color:#222d32;*/
    color: #b8c7ce;
}

.menu-popup > ul {
    list-style: none;
    padding: 10px 0;
}

.menu-popup > ul > li > a {
    text-decoration: none;
}

.first-menu > li.active .first-menu__arrow i {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

/* 侧栏 - 菜单扩展 */

.menu-spread__close {
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 22px;
    color: #999;
    cursor: pointer;
}

.menu-spread__close:hover {
    color: #666;
}

.menu-spread {
    display: none;
    position: fixed;
    z-index: 99999999;
    /*left: 220px;*/
    left: 160px;
    top: 50px;
    bottom: 0;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    color: #454545;
    /*background-color: rgba(255, 255, 255, 0.8);*/
    background-color: #fff;
    border-top: 1px solid #ddd;
    /*	border-right:1px solid #ddd;*/
    box-shadow: 1px -2px 30px rgba(0, 0, 0, 0.4);
}

.menu-spread.is-mini {
    left: 44px;
}

.menu-spread__items {
    padding: 10px;
    font-size: 13px;
}

.menu-spread__panel {
    display: none;
}

.menu-spread__item {
    display: inline-block;
    -ms-writing-mode: lr-tb;
    writing-mode: horizontal-tb;
    /*width: 200px;*/
    width: 160px;
    list-style: none;
    padding-left: 1em;
    line-height: 1.8;
    margin-bottom: 15px;
}

.menu-spread__item > li > a {
    color: inherit;
}

.menu-spread__item > li > a:hover {
    color: #0084e9;
}

.menu-spread__item > li:first-child {
    font-weight: 600;
    font-size: 15px;
    color: #43558f;
}

/* 主内容区 */
.lt-frame {
    /*margin-left: 220px;*/
    margin-left: 160px;
    margin-top: 50px;
    background-color: #fff;
    -webkit-transition: margin-left .3s;
    transition: margin-left .3s;
}

.lt-main {
    /*padding: 20px;*/
}

body.side-hide .lt-frame {
    margin-left: 44px;
}

/* 动画 */

@-webkit-keyframes disperseIn {
    from {
        -webkit-transform: translate3d(20px, 0, 0);
        opacity: 0;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes disperseIn {
    from {
        transform: translate3d(20px, 0, 0);
        opacity: 0;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-webkit-keyframes menuInLeft {
    from {
        -webkit-transform: translate3d(-60px, 0, 0);
        opacity: 0;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes menuInLeft {
    from {
        transform: translate3d(-60px, 0, 0);
        opacity: 0;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.menuInLeft {
    animation: menuInLeft .3s;
}


.nodata {
    background-color: #fff
}

.insert-main-title {
    margin-left: 10px;
    font-weight: bold;
    font-size: 14px;
}

.insert-border-outdoor {
    height: 30px;
    border-bottom: 2px solid rgb(42, 159, 230);
    margin-top: 20px;
}

.insert-border-indoor {
    border-bottom: 4px solid rgb(241, 128, 8);
    height: 30px;
    width: 20%;
}